.quiz_intro_img_ctn {
  width: 46vw;
  height: 27vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .quiz_intro_img {
    height: 100%;
    width: 100%;  
    background-size: cover;
    margin: 4% 0% 3% 116%;
  }
}
