.score_cnt {
  margin-top: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border: none;

  .tryAgain_btn {
    padding: 1.6vw;
    text-align: center;
    text-decoration: none;
    background-color: #551000;
    width: 16vw;
    height: 6vw;
    color: #FFBAAA;
    font-weight: bold;
    font-size: 1.8vw;
    border-radius: 3px;
    border: 5px solid #FFBAAA;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
    outline: 0;
  }
  .tryAgain_btn:hover {
    border-color: #551000;
  }
}

h1.end_header{
  padding: 1vw;
  margin-bottom: 1vw;
  font-size: 4vw;
}

h2.score_header {
  padding: 1vw;
  margin-bottom: 3vw;
  font-size: 3vw;
}