.score_cnt {
  margin-top: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border: none;

  .tryAgain_btn {
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    background-color:  #551000;
    width: 23vw;
    height: 8vw;
    color: #FFBAAA;
    font-weight: bold;
    font-size: 2.5vw;
    border-radius: 3px;
    border:5px solid #FFBAAA;
    transition-property:all;
    transition-duration:.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
    outline:0;
  }
  .tryAgain_btn:hover {
    border-color: #551000;
  }
}

h1.end_header{
  padding: 1vw;
  margin-bottom: 1vw;
  font-size: 5vw;
}

h2.score_header {
  padding: 1vw;
  margin-bottom: 3vw;
  font-size: 4vw;
}